/*Zoom effect on card preview*/

.preview {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  &:hover {
    transform: scale(1.15);
    opacity: 70%;
  }
}

/*Wiggle animation footer*/

/* ------------------------ import keyframes */

.btm__txt {
  &:hover {
    animation: wiggle 1000ms infinite ease-in-out;
  }
}

/*Underlined h3 in menus*/

.underline {
  position: relative;
  @include underlined(black);
}

.underline-note {
  position: relative;
  @include underlined(maroon);
}

.underline-chic {
  position: relative;
  &--start {
    @include underlined(#bf6415);
  }
  &--mid {
    @include underlined(#a66a9c);
  }
  &--end {
    position: relative;
    @include underlined(#6249bf);
  }
}
