/*-------------------Variables--------------------*/

    /*Colors*/

$clr-green:#579C87;
$clr-yellow:#FDCB46;
$clr-bg:#fff;
$note-bg:#FCDFDB;
$chic-bg:#FFF5FE;
$delice-bg:#F9F9F9;
$palette-bg:#FDFFFD;


/*---------------------Mixins---------------------*/

    /*Gradients tools*/

@mixin clipping-mask {
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}    

@mixin grad-note {
    background: linear-gradient(120deg, rgb(255, 60, 0), rgb(252, 151, 0));
}

@mixin grad-chic {
    background: linear-gradient(80deg, #E08817, #9E70FD);
}

@mixin grad-del {
    background: linear-gradient(120deg, rgb(2, 48, 252), rgb(5, 168, 233));
}

@mixin grad-pal {
    background: linear-gradient(70deg, rgb(0, 194, 26), rgb(166, 255, 0));
}

@mixin radgrad-pal {
    background: radial-gradient(circle, rgb(166, 255, 0) 30%, rgb(0, 194, 26));
}

    /*Menus display*/

@mixin box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 120px;
    padding:20px;
    width: 520px;    
    height: 720px;
    box-shadow: 0px 0px 15px -5px grey;
}

@mixin dishes-centered {
    margin-top: 5px;
    margin-bottom:5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
    /*Align price*/

@mixin price-align-right {
    ul {
        display: block;
        list-style-type: none;
        padding-inline-start: unset;
    }
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;            
    }
}

        /*h3 Bars*/

@mixin make-bars($clr) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $clr;
    height: 4px;
    width: 93%;
    border-radius: 5px;    
}

@mixin make-bars-palette {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 93%;
    height: 7px;
    border-radius: 5px;
    @include radgrad-pal;    
}

@mixin menu-prop($font, $font-size, $clr, $bg-clr) {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin:10px;
    font-size: $font-size;
    font-family: $font;
    color: $clr;
    background-color: $bg-clr;
    border-radius: 5rem;
}

    /*h3 underline motion effect*/

@mixin underlined($clr) {
    &::after {
        content: '';
        background-color: $clr;
        position: absolute;
        display: block;
        margin-top: 2px;
        height: 3px;
        width: 0;
        right: 0;
        transition: width 1s ease;
    }
    &:hover::after {
        left: 0;
        width: 100%;
    }
    
}

    