/*--------------Imported stylesheets--------------*/
/*-------------------Variables--------------------*/
/*Colors*/
/*---------------------Mixins---------------------*/
/*Gradients tools*/
/*Menus display*/
/*Align price*/
/*h3 Bars*/
header, footer, .btn--soon {
  background-color: #579C87;
}

h1, h2, .btn--soon {
  color: #FDCB46;
}

.title {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.title__h1 {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.title a {
  text-decoration: none;
  color: #FDCB46;
}

.btm {
  width: 100%;
  height: 96px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.btm__txt a {
  padding: 40px;
  color: #FDCB46;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn {
  height: fit-content;
  width: auto;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.btn--soon {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 4rem;
  padding: 1.3rem;
  border-radius: 0.8rem;
  letter-spacing: 0.05rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px, 60px;
}
.cards__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  height: 70rem;
  width: 33%;
  box-shadow: 0px 0px 15px -5px grey;
}
.cards__list--1 {
  background-color: #FCDFDB;
  font-family: "devonshire", sans-serif;
}
.cards__list--1 .fas {
  font-size: 4rem;
  background: linear-gradient(120deg, #ff3c00, #fc9700);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--1 h2 {
  font-size: 2.5rem;
  color: maroon;
}
.cards__list--1 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: maroon;
}
.cards__list--2 {
  background-color: #FFF5FE;
  font-family: "croissant one", serif;
}
.cards__list--2 h2 {
  font-size: 1.8rem;
  background: linear-gradient(80deg, #E08817, #9E70FD);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--2 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #E08817;
}
.cards__list--3 {
  background-color: #F9F9F9;
  font-family: "dancing script", serif;
}
.cards__list--3 h2 {
  font-size: 2.3rem;
  background: linear-gradient(120deg, #0230fc, #05a8e9);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--3 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #4866E5;
}
.cards__list--4 {
  background-color: #FDFFFD;
  font-family: "kaushan script", sans-serif;
}
.cards__list--4 h2 {
  font-size: 2.3rem;
  background: linear-gradient(70deg, #00c21a, #a6ff00);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--4 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #4C9F42;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  height: 70rem;
  width: 33%;
  box-shadow: 0px 0px 15px -5px grey;
}
.menu--1 {
  background-color: #FCDFDB;
  font-family: "devonshire", sans-serif;
}
.menu--1 .fas {
  font-size: 3rem;
  background: linear-gradient(120deg, #ff3c00, #fc9700);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--1 h2 {
  font-size: 2rem;
  color: maroon;
}
.menu--1 .bar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: maroon;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--1 h3 {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "sriracha";
  color: maroon;
  background-color: #FCDFDB;
  border-radius: 5rem;
}
.menu--1 .dishes {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-family: "Sriracha", sans-serif;
  text-align: left;
  color: maroon;
}
.menu--1 .dishes ul {
  display: block;
  list-style-type: none;
  padding-inline-start: unset;
}
.menu--1 .dishes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu--1 .title_mini h2 {
  margin: 40px;
  font-size: 1.5rem;
}
.menu--1 .title_mini h2 .fas {
  font-size: 1.5rem;
  padding: 0.3rem;
}
.menu--2 {
  background-color: #FFF5FE;
  font-family: "Times New Roman", serif;
}
.menu--2 h2 {
  margin-bottom: 40px;
  font-family: "croissant one", sans-serif;
  font-size: 2rem;
  background: linear-gradient(80deg, #E08817, #9E70FD);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--2 .bar {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #BF6415;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--2 .bar--2 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #A66A9C;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--2 .bar--3 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #6249BF;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--2 .field {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman";
  color: #BF6415;
  background-color: #FFF5FE;
  border-radius: 5rem;
}
.menu--2 .field--mid {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman";
  color: #A66A9C;
  background-color: #FFF5FE;
  border-radius: 5rem;
}
.menu--2 .field--end {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman";
  color: #6249BF;
  background-color: #FFF5FE;
  border-radius: 5rem;
}
.menu--2 .dishes {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.menu--2 .dishes ul {
  display: block;
  list-style-type: none;
  padding-inline-start: unset;
}
.menu--2 .dishes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu--2 .dishes--start {
  color: #BF6415;
}
.menu--2 .dishes--mid {
  color: #A66A9C;
}
.menu--2 .dishes--end {
  color: #6249BF;
}
.menu--3 {
  background-color: #F9F9F9;
  font-family: "Sriracha", sans-serif;
}
.menu--3 h2 {
  margin-bottom: 40px;
  font-family: "dancing script", serif;
  font-size: 3rem;
  background: linear-gradient(120deg, #0230fc, #05a8e9);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--3 .bar {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #0230fc;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--3 .bar--2 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #008cff;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--3 .bar--3 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #05a8e9;
  height: 4px;
  width: 93%;
  border-radius: 5px;
}
.menu--3 .field {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Sriracha";
  color: black;
  background-color: #F9F9F9;
  border-radius: 5rem;
  font-weight: normal;
}
.menu--3 .dishes {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.menu--3 .dishes ul {
  display: block;
  list-style-type: none;
  padding-inline-start: unset;
}
.menu--3 .dishes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu--4 {
  background-color: #FDFFFD;
  font-family: "Sriracha", sans-serif;
}
.menu--4 h2 {
  margin-bottom: 40px;
  font-family: "kaushan script", serif;
  font-size: 3rem;
  background: linear-gradient(70deg, #00c21a, #a6ff00);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--4 .bar {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 93%;
  height: 7px;
  border-radius: 5px;
  background: radial-gradient(circle, #a6ff00 30%, #00c21a);
}
.menu--4 .field {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Sriracha";
  color: black;
  background-color: #FDFFFD;
  border-radius: 5rem;
  font-weight: normal;
}
.menu--4 .dishes {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.menu--4 .dishes ul {
  display: block;
  list-style-type: none;
  padding-inline-start: unset;
}
.menu--4 .dishes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/*Zoom effect on card preview*/
.preview {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
.preview:hover {
  transform: scale(1.15);
  opacity: 70%;
}

/*Dots animation infinite*/
@keyframes dots {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dot1 {
  animation: dots 1500ms infinite;
}

.dot2 {
  animation: dots 1400ms infinite 700ms;
}

.dot3 {
  animation: dots 1400ms infinite 1000ms;
}

/*Wiggle animation footer*/
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.btm__txt:hover {
  animation: wiggle 1000ms infinite ease-in-out;
}

/*Underlined h3 in menus*/
.underline {
  cursor: pointer;
}
.underline--move {
  width: 100%;
  height: 3px;
  color: black;
  transform: scale(0);
  transition: transform 1000ms ease;
}
.underline--move:hover {
  transform: scale(1);
}

/*-----------Media queries for frontpage------------*/
/*Mobile Screen Display*/
@media screen and (max-width: 576px) {
  .title {
    height: fit-content;
  }
  .title__h1 {
    font-size: 2.5rem;
  }

  .btm {
    height: 64px;
  }
  .btm__txt a {
    font-size: 1.1rem;
    padding: 10px;
  }

  .btn--soon {
    font-size: 1.3rem;
    padding: 15px;
  }

  .cards__list {
    margin: 20px auto;
    padding: 10px;
    height: 26rem;
    width: 80%;
  }

  .preview .fas {
    font-size: 3rem;
  }

  .preview h2 {
    font-size: 2.5rem;
  }

  .preview a {
    font-size: 1.2rem;
  }
}
/*Tablet Screen Display*/
@media screen and (min-width: 768px) {
  .cards {
    margin: auto;
    width: 90%;
  }
  .cards__list {
    margin: 20px;
    padding: 20px;
    min-width: 200px;
    width: 250px;
    height: 380px;
  }

  .btm {
    height: 64px;
  }

  .btn {
    height: fit-content;
    width: auto;
  }
  .btn--soon {
    font-size: 1.5rem;
    padding: 20px;
  }

  .preview .fas {
    font-size: 4rem;
  }

  .preview h2 {
    font-size: 2.2rem;
  }

  .preview a {
    font-size: 1.3rem;
  }

  .menu {
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 50px;
    height: auto;
    width: 80%;
  }
  .menu .fas {
    font-size: 4rem;
  }
  .menu h2 {
    font-size: 3rem;
  }
  .menu h3 {
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .menu .field {
    font-size: 1.5rem;
  }
  .menu .field--mid {
    font-size: 1.5rem;
  }
  .menu .field--end {
    font-size: 1.5rem;
  }
  .menu .dishes {
    line-height: 2.2rem;
    font-size: 1.2rem;
  }
  .menu .title_mini h2 {
    margin: 80px;
    font-size: 2rem;
    bottom: 0;
  }
  .menu .title_mini h2 .fas {
    font-size: 2rem;
    padding: 0.3rem;
  }
}
/*Medium Screen Display*/
@media screen and (min-width: 992px) {
  .cards {
    width: 80%;
  }
  .cards__list {
    width: 320px;
    height: 450px;
  }
}
/*Large Screen Display*/
@media screen and (min-width: 1200px) {
  .cards__list {
    width: 450px;
    height: 620px;
  }

  .btm {
    height: 72px;
  }
}
/*Full HD Screen Display*/
@media screen and (min-width: 1920px) {
  .cards {
    width: 70%;
  }
  .cards__list {
    width: 520px;
    height: 720px;
  }

  .btn--soon {
    font-size: 2.2rem;
  }
}
/*4K Screen Display*/
/*---------------------General--------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  margin: 50px;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
