$clr-green:#579C87;
$clr-yellow:#FDCB46;
$clr-bg:#fff;
$note-bg:#FCDFDB;
$chic-bg:#FFF5FE;
$delice-bg:#F9F9F9;
$palette-bg:#FDFFFD;

//Mixins colors gradients//

@mixin grad-note {
    background: linear-gradient(90deg, #F05867, #F6916A);
}

@mixin grad-chic {
    background: linear-gradient(90deg, #E08817, #9E70FD);
}

@mixin grad-del {
    background: linear-gradient(70deg, #4866E5, #2696FA);
}

@mixin grad-pal {
    background: linear-gradient(70deg, #4C9F42, #BEFE7F);
}

//Header & footer colors//

header, footer, .btn--soon {
    background-color: $clr-green;
}
h1, h2, .btn--soon {
    color:$clr-yellow;
}


