$clr-green:#579C87;
$clr-yellow:#FDCB46;
$clr-bg:#fff;
$note-bg:#FCDFDB;
$chic-bg:#FFF5FE;
$delice-bg:#F9F9F9;
$palette-bg:#FDFFFD;



header, footer, .btn--soon {
    background-color: $clr-green;
}
h1, h2, .btn--soon {
    color:$clr-yellow;
}
