header, footer, .btn--soon {
    background-color: $clr-green;
}
h1, h2, .btn--soon {
    color:$clr-yellow;
}

.title {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    &__h1 {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & a {
        text-decoration: none;
        color: $clr-yellow;
    }
}


.btm {
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    bottom: 0;
    &__txt {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}
