/*------------------Media queries-------------------*/

    // XS Screen Display

@media screen and (max-width: 320px) {
        .menu {
            h2 {
            font-size: 1.2rem;
            margin-bottom: 25px;
            margin-top: 2px;
            }
            h3 {
            font-size: 0.8rem;
            line-height: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .field {
                font-size: 0.8rem;
                &--mid {
                    font-size: 0.8rem;
                }
                &--end {
                    font-size: 0.8rem;
                }
            }
            .bars {
                height: 2px;
            }
        }
}
    
    // Small Screen Display
    
@media screen and (max-width: 425px) {
    .title {
        height: fit-content;
        &__h1 {
            font-size: 2.5rem;
        }
    }
    .btm {
        height: fit-content;
        &__txt {
            font-size: 0.7rem;
        }
    }
    .btn {
        height: fit-content;
        width: auto;
            &--soon {
                font-size: 1.3rem;
                padding: 15px;
            }      
    }
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px, 0px;
            &__list {
            margin: 20px auto;
            padding: 10px;
            height: 30rem;
            width: 80%;    
            }
    }        
    .preview .fas {
        font-size: 3rem;
    }
    .preview h2 {
        font-size: 2.5rem;
    }
    .preview a {
        font-size: 1.2rem;
    }

    .menu {
        margin: 60px auto;
        padding: 20px;
        height:auto;
        width: 85%;
            .fas {
            font-size: 2.5rem;
            margin-top: 10px;    
            }
            h2 {
            font-size: 2.5rem;
            margin-bottom: 25px;
            margin-top: 2px;
            }
            h3 {
            font-size: 1.2rem;
            line-height: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .field {
            font-size: 1.2rem;
                &--mid {
                    font-size: 1.2rem;
                }
                &--end {
                    font-size: 1.2rem;
                }
            }
            .dishes {
            line-height: 1.5rem;
            font-size: 0.9rem;
            }
            .title_mini h2 {
                margin: 80px;
                font-size: 1rem;
                bottom: 0;
                .fas {
                    font-size: 1rem;
                    padding: 0.3rem;
                }
            }
        
    }    
}

    // Medium Screen Display

@media screen and (max-width: 1024px) {

    .btm {
        height: fit-content;
        &__txt {
            font-size: 1.1rem;
        }
    }
    .btn {
        height: fit-content;
        width: auto;
            &--soon {
                font-size: 1.5rem;
                padding: 20px;
            }      
    }
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px, 0px;
            &__list {
            margin: 60px auto;
            padding: 10px;
            height: 37rem;
            width: 42%;
            }
    }        
    .preview .fas {
        font-size: 4rem;
    }
    .preview h2 {
        font-size: 2.2rem;
    }
    .preview a {
        font-size: 1.1rem;
    }

    .menu {
        margin: 60px auto;
        padding: 50px;
        height:auto;
        width: 80%;
            .fas {
            font-size: 4rem;    
            }
            h2 {
            font-size: 3rem;
            }
            h3 {
            font-size: 1.5rem;
            line-height: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .field {
            font-size: 1.5rem;
                &--mid {
                    font-size: 1.5rem;
                }
                &--end {
                    font-size: 1.5rem;
                }
            }
            .dishes {
            line-height: 2.2rem;
            font-size: 1.2rem;
            }
            .title_mini h2 {
                margin: 80px;
                font-size: 2rem;
                bottom: 0;
                .fas {
                    font-size: 2rem;
                    padding: 0.3rem;
                }
            }
        
    }    
}   
    // Large Screen Display


    
    //XL Screen display

@media screen and (min-width: 1800px) {
    
    .title {
        height: fit-content;
        &__h1 {
            font-size: 8rem;
        }
    }
    .btm {
        height: fit-content;
        &__txt {
            font-size: 3rem;
        }
    }
    .btn {
        height: fit-content;
        width: auto;
            &--soon {
                font-size: 5rem;
                padding: 60px;
            }      
    }
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px, 0px;
            &__list {
            margin: 60px auto;
            padding: 10px;
            height: 80rem;
            width: 36%;    
            }
    }        
    .preview .fas {
        font-size: 8rem;
    }
    .preview h2 {
        font-size: 6rem;
    }
    .preview a {
        font-size: 3rem;
    }

    .menu {
        margin: 60px auto;
        padding: 50px;
        height:110rem;
        width: 50%;
            .fas {
            font-size: 8rem;    
            }
            h2 {
            font-size: 6rem;
            }
            h3 {
            font-size: 3rem;
            line-height: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .field {
            font-size: 3rem;
                &--mid {
                    font-size: 3rem;
                }
                &--end {
                    font-size: 3rem;
                }
            }
            .dishes {
            line-height: 3rem;
            font-size: 2.3rem;
            margin-top: 10px;
            margin-bottom:10px;
            padding-left: 2rem;
            padding-right: 2rem;
            }
            .title_mini h2 {
                margin: 80px;
                font-size: 4rem;
                bottom: 0;
                .fas {
                    font-size: 4rem;
                    padding: 0.6rem;
                }
            }
        
    }    
}

    


