.menu {
    @include box;
    &--1 {
        background-color: $note-bg;
        font-family: 'devonshire', sans-serif;
        .fas {
            font-size: 3rem;
            @include grad-note;
            @include clipping-mask;
        }
        h2 {
            font-size: 2rem;
            color: maroon;
        }
        
        .bar {
            @include make-bars(maroon);
            //display: inline-flex;
            //flex-direction: row;
            //align-items: center;
            //justify-content: space-around;
            //background-color: maroon;
            //height: 3px;
            //width: 90%;
            //border-radius: 5px;
        }

        h3 {
            @include menu-prop('sriracha', 1.2rem, maroon, $note-bg)
            //height: 30px;
            //padding-left: 20px;
            //padding-right: 20px;
            //margin:30px;
            //font-size: 1.2rem;
            //font-family: 'sriracha', sans-serif;
            //color: maroon;
            //background-color: $note-bg;
        }
        
        .dishes {
            @include dishes-centered;
            font-size: 0.9rem;
            font-family: 'Sriracha', sans-serif;
            text-align: left;
            color: maroon;
            @include price-align-right;
        }

        .title_mini h2 {
            margin: 40px;;
            font-size: 1.5rem;
            .fas {
                font-size: 1.5rem;
                padding: 0.3rem;
            }
        }
    }
    &--2 {
        background-color: $chic-bg;
        font-family: 'croissant-one', sans-serif;
        h2 {
            font-size: 2rem;
            @include grad-chic;
            @include clipping-mask;
        }
        h3 {
            font-size: 1.2rem;
            font-family: 'sriracha', sans-serif;
            color: maroon;
        }
        .dishes {
            @include dishes-centered;
            font-size: 0.9rem;
            font-family: 'Sriracha', sans-serif;
            text-align: left;
            color: maroon;
            @include price-align-right;
        } 
    }
}