.menus {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px, 0px; 
    &__list {
        margin: 40px;
        height: 45rem;
        width: 36%;
        box-shadow: 0px 0px 35px -5px darkgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &--1 {
            background-color: $note-bg;
            font-family: 'devonshire', sans-serif;
            .fas {
                font-size: 4rem;
                @include grad-note;
                background-clip: border-box;
                -webkit-background-clip: text;
                color: transparent; 
            }
            h2 {
                font-size: 2.5rem;
                color: maroon;
            }
            a {
                font-size: 1.3rem;
                font-family: 'sriracha', sans-serif;
                text-decoration: none;
                color: maroon;
            }
        }
        &--2 {
            background-color: $chic-bg;
            font-family: 'croissant one', serif;
            h2 {
                font-size: 1.8rem;
                @include grad-chic;
                background-clip: border-box;
                -webkit-background-clip: text;
                color: transparent;
            }
            a {
                font-size: 1.3rem;
                font-family: 'sriracha', sans-serif;
                text-decoration: none;
                color:#E08817;
            }
        }
        &--3 {
            background-color: $delice-bg;
            font-family: 'dancing script', serif;
            h2 {
                font-size: 2.3rem;
                @include grad-del;
                background-clip: border-box;
                -webkit-background-clip: text;
                color: transparent;
            }
            a {
                font-size: 1.3rem;
                font-family: 'sriracha', sans-serif;
                text-decoration: none;
                color:#4866E5;
            }
        }
        &--4 {
            background-color: $palette-bg;
            font-family: 'kaushan script', sans-serif;
            h2 {
                font-size: 2.3rem;
                @include grad-pal;
                background-clip: border-box;
                -webkit-background-clip: text;
                color: transparent;
            }
            a {
                font-size: 1.3rem;
                font-family: 'sriracha', sans-serif;
                text-decoration: none;
                color:#4C9F42;
            }
        }
    }
    &__page {
        margin: 40px;
        height: 45rem;
        width: 36%;
        box-shadow: 0px 0px 35px -5px darkgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &--1 {
            background-color: $note-bg;
            font-family: 'devonshire', sans-serif;
            .fas {
                font-size: 3rem;
                background: linear-gradient(90deg, #F05867, #F6916A);
                background-clip: border-box;
                -webkit-background-clip: text;
                color: transparent;
            }
            h2 {
                font-size: 2rem;
                color: maroon;
            }
            h3 {
                font-size: 1.2rem;
                font-family: 'sriracha', sans-serif;
                color: maroon;
            }
            .dishes {
                font-size: 0.9rem;
                font-family: 'Sriracha', sans-serif;
                text-align: left;
                color: maroon;
                ul {
                    list-style-type: none;
                }
                li span {
                    align-self: right;
                }
            }
            .title_mini h2 {
                font-size: 1.5rem;
                .fas {
                    font-size: 1.5rem;
                    padding: 0.3rem;
                }
            }
        }
        &--2 {
            background-color: $chic-bg;
            font-family: 'croissant-one', sans-serif;
            h2 {
                font-size: 2rem;
                background: linear-gradient(90deg, #E08817, #9E70FD);
            }
            h3 {
                font-size: 1.2rem;
                font-family: 'sriracha', sans-serif;
                color: maroon;
            }
            .dishes {
                font-size: 0.9rem;
                font-family: 'Sriracha', sans-serif;
                text-align: left;
                color: maroon;
                ul {
                    list-style-type: none;
                }
                li span {
                    align-self: right;
                }
            } 
        }
    }
}