/*-------------------Variables--------------------*/

    //couleurs

$clr-green:#579C87;
$clr-yellow:#FDCB46;
$clr-bg:#fff;
$note-bg:#FCDFDB;
$chic-bg:#FFF5FE;
$delice-bg:#F9F9F9;
$palette-bg:#FDFFFD;


/*---------------------Mixins---------------------*/

    //Gradients tools

@mixin clipping-mask {
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}    

@mixin grad-note {
    background: linear-gradient(90deg, #F05867, #F6916A);
}

@mixin grad-chic {
    background: linear-gradient(90deg, #E08817, #9E70FD);
}

@mixin grad-del {
    background: linear-gradient(70deg, #4866E5, #2696FA);
}

@mixin grad-pal {
    background: linear-gradient(70deg, #4C9F42, #BEFE7F);
}

    //Menus display

@mixin box {
    margin: 40px auto ;
    padding:20px;
    height: 45rem;
    width: 36%;
    box-shadow: 0px 0px 35px -5px darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@mixin dishes-centered {
    margin-top: 5px;
    margin-bottom:5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
    //Align price

@mixin price-align-right {
    ul {
        display: block;
        list-style-type: none;
        padding-inline-start: unset;
    }
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;            
    }
}

        //h3 decorations

@mixin make-bars($clr) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: $clr;
    height: 3px;
    width: 90%;
    border-radius: 5px;    
}

@mixin menu-prop($font, $font-size, $clr, $bg-clr) {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin:10px;
    font-size: $font-size;
    font-family: $font;
    color: $clr;
    background-color: $bg-clr;
}

/*-------------------Functions--------------------*/