
    /*--------------Imported stylesheets--------------*/

@import 'colors.scss';
@import 'header&footer.scss';
@import 'button.scss';
@import 'menus.scss';


    /*---------------------General--------------------*/


body {
    margin: 0;
    padding: 0;
    background-color: $clr-bg;
}

    /*---------------------Mixins---------------------*/

@mixin clipping-mask {
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent; 
}

    /*--------------------Functions-------------------*/

