/*--------------Imported stylesheets--------------*/
/*-------------------Variables--------------------*/
/*---------------------Mixins---------------------*/
/*-------------------Fonctions--------------------*/
header, footer, .btn--soon {
  background-color: #579C87;
}

h1, h2, .btn--soon {
  color: #FDCB46;
}

.title {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.title__h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.title a {
  text-decoration: none;
  color: #FDCB46;
}

.btm {
  height: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;
}
.btm__txt {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn {
  display: flex;
  justify-content: center;
  align-self: center;
}
.btn--soon {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 4rem;
  padding: 1.3rem;
  border-radius: 0.8rem;
  letter-spacing: 0.05rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px, 0px;
}
.cards__list {
  margin: 40px;
  height: 45rem;
  width: 36%;
  box-shadow: 0px 0px 35px -5px darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cards__list--1 {
  background-color: #FCDFDB;
  font-family: "devonshire", sans-serif;
}
.cards__list--1 .fas {
  font-size: 4rem;
  background: linear-gradient(90deg, #F05867, #F6916A);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--1 h2 {
  font-size: 2.5rem;
  color: maroon;
}
.cards__list--1 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: maroon;
}
.cards__list--2 {
  background-color: #FFF5FE;
  font-family: "croissant one", serif;
}
.cards__list--2 h2 {
  font-size: 1.8rem;
  background: linear-gradient(90deg, #E08817, #9E70FD);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--2 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #E08817;
}
.cards__list--3 {
  background-color: #F9F9F9;
  font-family: "dancing script", serif;
}
.cards__list--3 h2 {
  font-size: 2.3rem;
  background: linear-gradient(70deg, #4866E5, #2696FA);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--3 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #4866E5;
}
.cards__list--4 {
  background-color: #FDFFFD;
  font-family: "kaushan script", sans-serif;
}
.cards__list--4 h2 {
  font-size: 2.3rem;
  background: linear-gradient(70deg, #4C9F42, #BEFE7F);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__list--4 a {
  font-size: 1.3rem;
  font-family: "sriracha", sans-serif;
  text-decoration: none;
  color: #4C9F42;
}

.menu {
  margin: 40px auto;
  padding: 20px;
  height: 45rem;
  width: 36%;
  box-shadow: 0px 0px 35px -5px darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.menu--1 {
  background-color: #FCDFDB;
  font-family: "devonshire", sans-serif;
}
.menu--1 .fas {
  font-size: 3rem;
  background: linear-gradient(90deg, #F05867, #F6916A);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--1 h2 {
  font-size: 2rem;
  color: maroon;
}
.menu--1 .bar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: maroon;
  height: 3px;
  width: 90%;
  border-radius: 5px;
}
.menu--1 h3 {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px;
  font-size: 1.2rem;
  font-family: "sriracha", sans-serif;
  color: maroon;
  background-color: #FCDFDB;
}
.menu--1 .dishes {
  font-size: 0.9rem;
  font-family: "Sriracha", sans-serif;
  text-align: left;
  color: maroon;
}
.menu--1 .dishes ul {
  list-style-type: none;
  margin: 20px, -15px, 20px, 20px;
}
.menu--1 .dishes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu--1 .title_mini h2 {
  margin: 40px;
  font-size: 1.5rem;
}
.menu--1 .title_mini h2 .fas {
  font-size: 1.5rem;
  padding: 0.3rem;
}
.menu--2 {
  background-color: #FFF5FE;
  font-family: "croissant-one", sans-serif;
}
.menu--2 h2 {
  font-size: 2rem;
  background: linear-gradient(90deg, #E08817, #9E70FD);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menu--2 h3 {
  font-size: 1.2rem;
  font-family: "sriracha", sans-serif;
  color: maroon;
}
.menu--2 .dishes {
  font-size: 0.9rem;
  font-family: "Sriracha", sans-serif;
  text-align: left;
  color: maroon;
}
.menu--2 .dishes ul {
  list-style-type: none;
}
.menu--2 .dishes li span {
  float: right;
}

/*---------------------General--------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
