.menu {
    @include box;
    &--1 {
        background-color: $note-bg;
        font-family: 'devonshire', sans-serif;
        .fas {
            font-size: 3rem;
            @include grad-note;
            @include clipping-mask;
        }
        h2 {
            font-size: 2rem;
            color: maroon;
        }
        
        .bar {
            @include make-bars(maroon);
        }

        h3 {
            @include menu-prop('sriracha', 1.2rem, maroon, $note-bg)
        }
        
        .dishes {
            @include dishes-centered;
            font-size: 0.9rem;
            font-family: 'Sriracha', sans-serif;
            text-align: left;
            color: maroon;
            @include price-align-right;
        }

        .title_mini h2 {
            margin: 40px;;
            font-size: 1.5rem;
            .fas {
                font-size: 1.5rem;
                padding: 0.3rem;
            }
        }
    }
    &--2 {
        background-color: $chic-bg;
        font-family: 'Times New Roman', serif;
        h2 {
            margin-bottom: 40px;
            font-family: 'croissant one', sans-serif;
            font-size: 2rem;
            @include grad-chic;
            @include clipping-mask;
        }
        .bar {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            @include make-bars (#BF6415);
            &--2 {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                @include make-bars (#A66A9C);
            }
            &--3 {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                @include make-bars (#6249BF);
            }
        }
        .field { 
            
            @include menu-prop ('Times New Roman',1.2rem, #BF6415, $chic-bg);
            &--mid {
                @include menu-prop ('Times New Roman', 1.2rem, #A66A9C, $chic-bg);
            }
            &--end {
                @include menu-prop ('Times New Roman', 1.2rem, #6249BF, $chic-bg)
            }
        }
        .dishes {
            @include dishes-centered;
            @include price-align-right;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
            &--start {
                color: #BF6415;
            }
            &--mid {
                color: #A66A9C;
            }
            &--end {
                color: #6249BF;
            }
        }    
    }
    &--3 {
        background-color: $delice-bg;
        font-family: 'Sriracha', sans-serif;
        h2 {
            margin-bottom: 40px;
            font-family: 'dancing script', serif;
            font-size: 3rem;
            @include grad-del;
            @include clipping-mask;
        }
        
        .bar {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            @include make-bars (rgb(2, 48, 252));
            &--2 {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                @include make-bars (rgb(0, 140, 255));
            }
            &--3 {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                @include make-bars (rgb(5, 168, 233));
            }
        }

        .field { 
            
            @include menu-prop ('Sriracha',1.2rem, black, $delice-bg);
            font-weight: normal;
        }

        .dishes {
            @include dishes-centered;
            @include price-align-right;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
        }
    }
    &--4 {
        background-color: $palette-bg;
        font-family: 'Sriracha', sans-serif;
        h2 {
            margin-bottom: 40px;
            font-family: 'kaushan script', serif;
            font-size: 3rem;
            @include grad-pal;
            @include clipping-mask;
        }
        
        .bar {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            @include make-bars-palette;
        }

        .field { 
            
            @include menu-prop ('Sriracha',1.2rem, black, $palette-bg);
            font-weight: normal;
        }

        .dishes {
            @include dishes-centered;
            @include price-align-right;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
        }
    }
}
