.btn {
    height: fit-content;
    width: auto;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-self: center;
    &--soon {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        margin: 4rem;
        padding: 1.3rem;
        border-radius: .8rem;
        letter-spacing: 0.05rem;
    }
}