header, footer, .btn--soon {
    background-color: $clr-green;
}

h1, h2, .btn--soon {
    color:$clr-yellow;
}

.title {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    &__h1 {
        font-size: 3.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & a {
        text-decoration: none;
        color: $clr-yellow;
    }
}


.btm {
    width: 100%;
    height: 96px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    &__txt {
        a {
            padding: 40px;
            color: $clr-yellow;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
}
