/*-------------------Variables--------------------*/

/*Colors*/

$clr-green: #579c87;
$clr-yellow: #fdcb46;
$clr-bg: #fff;
$note-bg: #fcdfdb;
$chic-bg: #fff5fe;
$delice-bg: #f9f9f9;
$palette-bg: #fdfffd;
